/* ===============================================
# フォントサイズ
=============================================== */
$fs:16px;
$fs-pg_title:40px;
$fs-title:30px;

/* ===============================================
# 色
=============================================== */
$color-white:#fff;
$color-cream:#F5EFD7;//クリーム色
$color-tea:#341E12;//こい茶色
$color-yellow:#A88E25;//マウスオーバー（黄色）
$color-yellow-border:#CEB967;//周りの線
$color-red:#F7320E;//赤色
$color-gray:#dddddd;