@import "../global/variables";

.btn-tea{
  width: 100px;
  height: 30px;
  background: $color-tea;
  border-radius: 5px;

  a{
    display: block;
    padding: 0.5rem 0;

    span{
      color:$color-white;
      display: block;
      text-align: center;
    }
  }
}