@import "../global/variables";

/* ===============================================
# パンくず
=============================================== */

.breadcrumb{
  max-width: 1084px;
  padding: 10px 0;
  margin: 0 auto 70px auto;

  span{
    

    &:first-child{
      margin-right: 20px;
      position: relative;

      &::after{
        content:">";
        position: absolute;
        right: -16px;
      }
    }
  }
}