@import "../global/variables";

#product_list{

  /* ===============================================
  # カテゴリータグ
  =============================================== */

  .category_tag{
    max-width: 1084px;
    margin: 0 auto 50px auto;
    display: flex;
    gap: 3px;
    border-bottom: solid 5px $color-yellow-border;

    .tag_list{
      background: $color-cream;
      flex-grow: 1;
      text-align: center;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

      &.is-open{
        background:$color-yellow-border;

        a{
          color:$color-white;
        }
      }

      a{
        width: 100%;
        display: inline-block;
        padding: 15px 0;
      }
    }
  }

  .recommendation--list{
    
  }
}